<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jyhu.runoobandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Reflection.ReflectionTestActivity"/>
        <activity android:name=".Activities.DataUpdate.DataUpdateListViewActivity">
        </activity>
        <activity android:name=".Activities.ReusefulAdapter.ReusefulAdapterActivity">
        </activity>
        <activity android:name=".Activities.TestCustomAdapter.TestCustomAdapterActivity">
        </activity>
        <activity android:name=".Activities.MutiLayoutListViewActivity">
        </activity>
        <activity android:name=".Activities.GridViewTestActivity">
        </activity>
        <activity android:name=".Activities.SpinnerTestActivity">
        </activity>
        <activity android:name=".Activities.AutoCompleteTextViewTestActivity">
        </activity>
    </application>

</manifest>